@charset "utf-8";

body{
	background: #fff;
	color: #333;
	position: relative;
	}
a {
	color: #52b6ec;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	}
a:hover,a:focus {
	color: #80c9f1;
	text-decoration: none;
	outline: none;
	}


	
/*------头部信息--------*/
nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 65px;
	background-color:#FFF;
	z-index: 99999;
	border-bottom:solid 1px #CCC;
	}
.navbar {
  background: #fff;
  border: 0;
  padding:0px 10px 0px 0px;
  }
/*.navbar-default .first a {
  border-radius: 0 0 0 5px;
  }*/
.navbar-nav > li {
  margin-left: 10px;
  }
.navbar-nav > li > a {
  padding: 11px 20px;
  font-size: 16px;
  line-height: 42px;
  color: #999;
  }

.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}
 
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #52b6ec;
    }

/*.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #52b6ec;
    }*/
 
 #my-slides{
 	padding-top: 65px;
    }
 .carousel-inner > .item,.carousel-control{
 	background-color:#FFF;
 	}
 .carousel-control{
 	background-color: #fff;
 	}
 	
.carousel-inner > .item >img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
 
 .box {
  padding: 50px 30px 30px 30px;
  background: #fff;
  position: relative;
}

/*------联系我们--------*/
#about-us{
	/*background-image: url(../images/content_bg.png);*/
	background-position: 50% 50%;
	background-repeat: repeat-x;
	/*background-color:#626160;*/
	}
#about-us h1{ 
	font-size:24px; 
	/*color:#FFF;*/
	}
.icon-content{ 
	display: inline-block; 
	width:80px; 
	height:70px; 
	background-repeat:no-repeat; 
	background-position:center;}
.icon-content1{ background: url(../images/content_tel.png);}
.icon-content2{ background: url(../images/content_ad.png);}
.icon-content3{ background: url(../images/content_em.png);}
 	


	

/*.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
  }
  
  
 /*设置直接子元素的颜色  x>y x下的直接y元素， x y指x下的所有y元素*/
/*.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
	background-color: #52b6ec;
	color: #fff;
	}	
@media (min-width: 768px) {
	#header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 65px;
		background-color:#FFF;
		z-index: 99999;
		border-bottom:solid 1px #CCC;
		}
	}

@media (min-width: 100px) {
	.navbar-default .navbar-brand {
	margin-right: 20px;
	margin-left: 20px;
	width: 121px;
	height: 62px;
	/*background: url(../images/logo_min.png) no-repeat left center ;*/
	}
}*/

/*
@media (min-width: 1200px) {
.navbar-default .navbar-brand {
	margin-right: 20px;
	margin-left: 20px;
	width: 300px;
	height: 62px;
	/*background: url(../images/logo.png) no-repeat left center;*/
	}
}*/